.horizontal-list {
  display: flex;
  justify-content: space-around;

  .header-user-name {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .header-link {
    list-style-type: none;

    &.selected {
      border-bottom: 2px solid black;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 24px;
    }
  }
}
